@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
  }
}
